html, body {
	font-family: sans-serif;
}

div#visualizer {
	width: 960px;
}

div#visualizer-screen {
	position: relative;
	z-index: 1000;
	width: 100%;
	height: 400px;
	background: #000;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 256px 256px;
	background-image: url('../images/ui/not-loading.png');
}

div#visualizer-screen.fullscreen {
	position: relative;
	background: rgba(0,0,0,0.95);
}

div#visualizer-canvases {
	position: relative;
	top: 0;
	left: 0;
}

div#visualizer-visual-alert {
	position: absolute;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 256px 256px;
	height: 256px;
	width: 256px;
	border: 0;
	z-index: 3000;
}

canvas.visualizer-layer {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2000;
}

#visualizer-speed-icon,
button.visualizer-ui-button {
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	height: 2em;
	width: 2em;
	padding: 0;
	margin: 0;
	border: 0;
}

button.visualizer-ui-button {
	transition: background-color .3s ease-in-out;
	-moz-transition: background-color .3s ease-in-out;
	-webkit-transition: background-color .3s ease-in-out;
	margin: 0 0.25em;
}

button.visualizer-ui-button:hover,
button.visualizer-ui-button:focus,
button.visualizer-ui-button:active {
	background-color: #FB4509;
}

button#visualizer-play-pause {
	margin: 0 1em 0 0;
}

button#visualizer-play-pause.visualizer-play {
	background-image: url('../images/ui/play-small.png');
}

.visualizer-ui-play {
	background-image: url('../images/ui/256-play.png');
}

button#visualizer-play-pause.visualizer-pause {
	background-image: url('../images/ui/pause-small.png');
}

.visualizer-ui-pause {
	background-image: url('../images/ui/256-pause.png');
}

button#visualizer-prev-turn {
	background-image: url('../images/ui/backward-small.png');
}

.visualizer-ui-prevturn {
	background-image: url('../images/ui/256-backward.png');
}

button#visualizer-next-turn {
	background-image: url('../images/ui/forward-small.png');
}

.visualizer-ui-nextturn {
	background-image: url('../images/ui/256-forward.png');
}

button#visualizer-stop {
	background-image: url('../images/ui/stop-small.png');
}

.visualizer-ui-stop {
	background-image: url('../images/ui/256-stop.png');
}

button#visualizer-fullscreen {
	background-image: url('../images/ui/fullscreen-small.png');
	margin: 0 0 0 2em;
}

.visualizer-ui-fullscreen {
	background-image: url('../images/ui/256-fullscreen.png');
}

#visualizer-speed-icon {
	float: right;
	background-image: url('../images/ui/speed-small.png');
	width: 36px;
	margin: 0 0.5em 0 0;
}

button#visualizer-options {
	background-image: url('../images/ui/options-small.png');
	margin: 0 0 0 2em;
}

/* BEGIN: Control Bar */

/*     BEGIN: Top Part */

div#visualizer-controls {
	background-color: #BF3503;
	padding: 1em;
	color: #fff;
}

div#visualizer-controls-top,
div#visualizer-controls-bottom {
	display: block;
	width: 100%;
}

div#visualizer-controls-top {
	position: relative;
	height: 2em;
}

div#visualizer-controls-top *,
div#visualizer-controls-bottom * {
	display: inline-block;
}

div#visualizer-current-time,
div#visualizer-max-turns {
	float: right;
	width: 2em;
}

div#visualizer-time-bar-container {
	position: absolute;
	margin: 0 4.5em 0 0;
	top: 0;
	left: 0;
	right: 0;
}

div#visualizer-time-bar-container div#visualizer-time-bar {
	display: block;
}

/*     END: Top Part */

/*     BEGIN: Bottom Part */

div#visualizer-speed-bar-container {
	float: right;
	width: 15em;
	padding: 0.5em 0 0 0;
}

div#visualizer-speed-bar-container div#visualizer-speed-bar {
	width: 100%;
}

button#visualizer-fullscreen {
	float: right;
}

/*     END: Bottom Part */
/* END: Control Bar */

/* BEGIN: Events */

#visualizer-events {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

div.visualizer-event {
	position: absolute;
	top: 0;
	left: 0;
	width: 1em;
	height: 1.75em;
	margin-left: -0.5em;
	background: #fff;
	border: 0;
	cursor: pointer;
}

/* END: Events; */